#about-page {
    padding: 40px 0;
  .header {
    width: 100%;
    background-color: #e9ecef;
    padding: 15px 0;
    font-weight: 700;
    .green-text{
        color: #56A700;
    }
  }
  //   .about {
  //   }
}
