#home-page .container .home {
  padding: 30px 0;
}
#home-page .container .home .slider .dog-image {
  width: 1220px;
  height: 500px;
  background-image: url("../../assets/images/slider-dog.webp");
}
#home-page .container .home .slider .dog-image .head {
  padding: 130px 70px;
}
#home-page .container .home .slider .dog-image .head h1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}
#home-page .container .home .slider .dog-image .head button {
  color: #ff7c00;
  background-color: transparent;
  border: 2px solid #ff7c00;
  height: 40px;
  width: 130px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#home-page .container .home .slider .dog-image .head button:hover {
  background-color: #ff7c00;
  color: white;
}
#home-page .container .home .slider .dog-image .btn-slider {
  padding-left: 70px;
}
#home-page .container .home .slider .dog-image .btn-slider button {
  height: 8px;
  width: 8px;
  background: white;
  border-radius: 500px;
  margin-right: 10px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
}
#home-page .container .home .slider .dog-image .btn-slider button.active {
  background-color: #ff7c00;
  width: 28px;
}
#home-page .container .home .slider .dog-image .btn-slider button:hover {
  width: 28px;
}
#home-page .container .home .slider .cat-image {
  width: 1200px;
  height: 500px;
  background-image: url("../../assets/images/slider-cat.webp");
}
#home-page .container .home .slider .cat-image .head {
  padding: 142px 70px;
}
#home-page .container .home .slider .cat-image .head h1 {
  font-size: 40px;
  color: white;
  font-weight: 500;
}
#home-page .container .home .slider .cat-image .head h1 p {
  font-size: 20px;
}
#home-page .container .home .slider .cat-image .head button {
  color: #ff7c00;
  background-color: transparent;
  border: 2px solid #ff7c00;
  height: 40px;
  width: 130px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#home-page .container .home .slider .cat-image .head button:hover {
  background-color: #ff7c00;
  color: white;
}
#home-page .container .home .slider .cat-image .btn-slider {
  padding-left: 70px;
}
#home-page .container .home .slider .cat-image .btn-slider button {
  height: 8px;
  width: 8px;
  background: white;
  border-radius: 500px;
  margin-right: 10px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
}
#home-page .container .home .slider .cat-image .btn-slider button.active {
  background-color: #ff7c00;
  width: 28px;
}
#home-page .container .home .slider .cat-image .btn-slider button:hover {
  width: 28px;
}
#home-page .container .home .images {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
#home-page .container .home .images .image1 {
  width: 390px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images .image1 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image-1.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images .image1 .img:hover {
  transform: scale(1.07);
}
#home-page .container .home .images .image2 {
  width: 390px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images .image2 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image-2.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images .image2 .img:hover {
  transform: scale(1.07);
}
#home-page .container .home .images .image3 {
  width: 390px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images .image3 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image-3.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images .image3 .img:hover {
  transform: scale(1.07);
}
#home-page .container .home .images-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-page .container .home .images-middle .image1 {
  width: 390px;
  height: 390px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images-middle .image1 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image_1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images-middle .image1 .img:hover {
  transform: scale(1.09);
}
#home-page .container .home .images-middle .image2-middle .img1 {
  width: 390px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images-middle .image2-middle .img1 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image_2.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images-middle .image2-middle .img1 .img:hover {
  transform: scale(1.09);
}
#home-page .container .home .images-middle .image2-middle .img2 {
  width: 390px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images-middle .image2-middle .img2 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image-sm-2-2.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images-middle .image2-middle .img2 .img:hover {
  transform: scale(1.09);
}
#home-page .container .home .images-middle .image3 {
  width: 390px;
  height: 390px;
  overflow: hidden;
  position: relative;
}
#home-page .container .home .images-middle .image3 .img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/promo-product-image_3.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
  cursor: pointer;
}
#home-page .container .home .images-middle .image3 .img:hover {
  transform: scale(1.09);
}
#home-page .container .home .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ececec;
  padding: 30px 60px;
}
#home-page .container .home .logos .logo img {
  width: 100%;
  transition: all 0.4s;
  cursor: pointer;
}
#home-page .container .home .logos .logo img:hover {
  transform: scale(1.07);
}/*# sourceMappingURL=index.css.map */